/.classpath
/.project
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/buildOutputCleanup/outputFiles.bin
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.2.1/gc.properties
/.gradle/vcs-1/gc.properties
